body{
    font-family: monospace;
}

h1 {
    font-family: monospace;
    font-size: 8rem;
    font-weight: 300;
    line-height: 1.2;
    
}
#theGameName{
    font-family: monospace;
    font-size: 8rem;

}